#gallery_content	{
	width: 500px;
	margin: 20px 0px 20px 0px;
	text-align: center;
}	

.entry	{
	font-size: 70%;
	width: 220px;
	height: 220px;
	float: left;
	margin: 10px;
	background-image: url("images/shadow.png");
    background-repeat: no-repeat;
    background-position: bottom;	
}

figure	{
	width: 202px;
	height: 193px;
	margin: 0px;
	padding: 9px;
	background-color: #e7e3d8;
}

img	{
	width: 200px;
	height: 150px;
	border: 1px solid #d6d6d6;
}

figcaption	{
	background-image: url("images/icon.png");
	background-repeat: no-repeat;
	padding: 5px 0px 0px 25px;
}

figcaption a	{
	padding: 0px;
	display:inline-block;
}